/*---------------------------reset---------------------------*/
html,body,form,input,img,ul,ol,dl,li,dt,dd,h1,h2,h3,h4,h5,h6,p,table,th,td,tr,fieldset,legend,a,caption{margin:0;padding:0;}
ul,li{list-style:none;}
a{text-decoration:none;}
body{font:12px "微软雅黑";background:#f5f5f5;}
img{border:0;display:block;}
h1,h2,h3,h4,h5,h6,b{font-weight:100;}
i{font-style:normal;}
input{border:none;}
/*---------------------------header------------------------
.header{
	width:100%;
	height:36px;
	border-bottom:1px solid #dddddd;
	background-color:#f1f1f1;
}
.headCon{
	width:1200px;
	height:36px;
	overflow:hidden;
	margin:0 auto;
	line-height:36px;
}
.ctryMney{
	float:left;
	width:;
	
}
.ctryMney li{
	float:left;
	position:relative;
}
.ctryMney li a{
	color:#333333;
}

.ctryMney .country{
	width:40px;
	padding-left:46px;
	margin-right:6px;
	background:url(img/china.jpg) no-repeat 22px 12px;
	position:relative;
}
.countrylist{
	position:absolute;
	left:0;
	top:40px;
	z-index:2;
}
.ctryMney .country:hover{
	background:url(img/china.jpg) no-repeat 22px 12px #fff;
	}
.ctryMney .money{
	width:60px;
	padding-left:26px;
}
.ctryMney .money:hover{
	background:#fff;
}
.arrow-down{
	width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #bbbbbb;
	position:absolute;
	right:5px;
	top:17px;
}
.headRight{
	float:right;
}
.headRight p{
	float:left;
}
.loadReg{
	width:80px;
	height:12px;
	background:url(img/regBg.jpg) repeat-y center;
	line-height:12px;
	margin:13px 24px 0 0;
}
.loadReg a{
	color:#ed4242;
}
.loadReg a:hover{
	text-decoration:underline;	
}
.loadReg .loadSpan{
	float:left;	
}
.loadReg .regSpan{
	float:right;	
}
.myFocus{
	width:80px;
	padding-left:15px;
	height:36px;
	margin-right:15px;
}
.myFocus a{
	color:#333333;
	padding-left:15px;
	background:url(img/focusBg.jpg) no-repeat left center;
}
.myFocus a:hover{
	color:#ed4242;
	padding-left:15px;
	background:url(img/focusBgRed.jpg) no-repeat left center;
}
.perCenter{
	width:78px;
	margin-right:12px;
	position:relative;
}
.perCenter a{
	color:#333333;
	width:58px;
	height:36px;
	display:block;
	padding:0 10px 0 10px;	
}
.perCenter a:hover{
	background:#FFF;
	color:#ed4242;
	padding:0 20px 0 10px;;
}---*/
.header{
	width:100%;
	height:36px;
	border-bottom:1px solid #999;
}
.headcon{
	width:1200px;
	height:36px;
	
	margin:0 auto;
}
.ctryMey{
	float:left;
	width:;
	
}
.ctryMey a{
	color:#333;
}
.ctryMey a:hover{
	color:#ed4242;
}
.ctryMey > li{
	float:left;
	margin-right:15px;
	width:75px;
	height:36px;
	padding-left:10px;
	position:relative;
	
	text-align:center;
	line-height:36px;
}
.ctryMey > li:hover{
	background:#fff;
}
.countrylist{
	width:90px;
	position:absolute;
	left:0;
	top:36px;
	background:#fff;
	line-height:20px;
	display:none;
}
.countrylist >li{
	background:url(img/usa.jpg) no-repeat 5px 6px;
}
.moneylist{
	background:#fff;
	position:absolute;
	left:0;
	top:36px;
	width:90px;
	display:none;
}
.moneylist >li{
	line-height:20px;
}
.rmb .arrow-down{
	
	right:5px;
	
}
.arrow-down{
	width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #bbbbbb;
	position:absolute;
	right:15px;
	top:17px;
}
.headRight{
	float:right;height:36px;
	
	line-height:36px;
}
.headRight a{
	color:#333;
}
.headRight a:hover{
	color:#ed4242;
}
.headRight > li{
	float:left;
	width:100px;
	height:36px;

}
.headRight .rightList1 a{
	color:#ed4242;
	float:left;margin-left:17px;
}
.headRight .rightList1{
	height:12px;margin-top:12px;background:url(img/regBg.jpg) repeat-y center;
	line-height:12px;
}
.headRight .rightList1 a:hover{
	text-decoration:underline;
}
.headRight .rightList2{
	background:url(img/focusBg.jpg) no-repeat 5px 13px;
	text-align:center;
}

.headRight .rightList2:hover{
	background:url(img/focusBgRed.jpg) no-repeat 5px 13px;
}
.headRight .rightList3{
	position:relative;
	text-align:center;
}
.headRight .rightList3:hover{
	background:#fff;
	color:#ed4242;
}
.headRight .rightList3 p{
	width:100px;
	position:absolute;
	left:0;
	top:36px;
	background:#fff;
	display:none;
}
/*---------------------------logo---------------------------*/
.logo{
	width:100%;
	height:110px;
	background:#FFF;
	
}
.logoCon{
	width:1200px;
	height:110px;
	margin:0 auto;
	overflow:hidden;
}
.logoCon h1{
	width:195px;
	height:95px;
	float:left;
	padding-top:15px;
	margin-right:94px;
}
.search{
	float:left;
	width:760px;
	height:40px;
	border:1px solid #ee4242;
	border-radius:3px;
	margin-top:35px;	
}
.search .searchTxt{
	width:712px;
	height:40px;
	float:left;	
}
.search .searchBtn{
	width:48px;
	height:40px;
	background:url(img/search.jpg) no-repeat center #ee4242;	
	float:right;
}
.trolley{
	width:120px;
	height:42px;
	float:right;
	border-radius:3px;
	background:url(img/trollyBg.jpg) no-repeat 20px 15px #ee4242;
	margin-top:35px;
	position:relative;
}
span.perArrow{
	border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
	position:absolute;
	right:10px;
	top:17px;
}

.cartNum{
	float:left;
	width:23px;
	height:20px;
	line-height:19px;
	padding-left:20px;
	color:#fff;	
}
.cartSpan{
	line-height:42px;
	font-size:16px;
	float:right;
	padding-right:23px;
	color:#fff;
}
/*---------------------------Navigator---------------------------
.allGoodsList{
	position:absolute;
	width:160px;
	left:0;
	top:42px;
}
.allGoodsList > li{
	width:160px;
	height:42px;
}
.nav{
	width:100%;
	height:42px;
	background:#1e1e1e;	
}
.navCon{
	width:1200px;
	height:42px;
	margin:0 auto;
	line-height:42px;
	overflow:hidden;
}
.navCon h2{
	width:128px;
	height:42px;
	float:left;
	color:#ffffff;
	font-weight:600;
	font-size:14px;
	padding-left:32px;
	background:url(img/goodsBg.jpg) no-repeat 132px 19px #ed4242;
	position:relative;
}
.navCon .navlist{
	float:left;
	height:42px;	
}
.navCon .navlist li{
	float:left;	
}
.navCon .navlist li a{
	padding:0 36px;
	color:#ffffff;
	font-size:14px;
}
.newgoods,.hotgoods{
	position:relative;
}
.newgif{
	position:absolute;
	right:20px;
	top:-5px;
	z-index:8;
}
.hotgif{
	position:absolute;
	right:20px;
	top:-5px;
	z-index:8;
}
.navCon .navlist li a:hover{
	background-color:#404040;
	padding:15px 36px;
}*/
.nav{
	width:100%;height:42px;
	background:#1e1e1e;	
}
.navcon{
	width:1200px;height:42px;margin:0 auto;
	line-height:42px;
}
.navcon h3{
	float:left;
	width:160px;
	text-align:center;
	background:url(img/goodsBg.jpg) no-repeat 132px 19px #ed4242;
	color:#fff;
	position:relative;
}
.navcon .allGoodList{
	width:160px;
	position:absolute;
	left:0;
	top:42px;
	background:#fff;
	z-index:10;
	display:none;
	
}
.navcon .allGoodList a{
	color:#333;
}
.navcon .allGoodList li{
	border-bottom:1px dashed #CCCCCC;
	height:42px;
}
.navcon .allGoodList li div{
	position:absolute;
	left:160px;
	top:0;
	background:#fff;
	width:600px;
	display:none;
}
.mainNav{
	float:left;
	height:42px;
}
.mainNav li{
	float:left;
}
.mainNav li a{
	padding:0 36px;
	color:#ffffff;
	font-size:14px;
}
.mainNav li:hover{
	background-color:#404040;
}
.newgoods,.hotgoods{
	position:relative;
}
.newgif,.hotgif{
	position:absolute;
	right:20px;
	top:-5px;
}
/*---------------------------footer---------------------------*/
.footer{
	width:100%;
	height:160px;
	border-top:1px solid #ddd;
	background:#eeeeee;
	margin:40px 0 20px 0;
}
.footerCon{
	width:1200px;
	height:160px;
	margin:0 auto;
}
.copyRight{
	float:left;
	width:500px;
	height:135px;
	padding-top:25px;
	margin-right:100px;
}
.copyRight p{
	line-height:22px;
	color:#999999;
}
.copyRight .marginBottom{
	margin-bottom:15px;
}
.copyRight p a{
	color:#333;
}
.copyRight p a:hover{
	color:#ed4242;
}
.contact{
	float:left;
	line-height:22px;
	color:#999999;
}
.contact .contactFs{
	margin:30px 0 10px 0;
}
.QRcode{
	width:160px;
	height:160px;
	float:right;
	background:#ed4242;
}
.QRcode img{
	margin:15px 0 0 25px;
}
.QRcode p{
	color:#fff;
	margin-top:10px;
	padding-left:20px;
}











































































































































