/*---------------------------banner---------------------------*/
.banner{
	width:100%;
	height:450px;	
}
.bannerlist{
	overflow:hidden;
	height:450px;
}
.bannerlist li img{
	width:100%;
}
/*---------------------------servicelist---------------------------*/
.servicelist{
	width:100%;
	margin-bottom:40px;
}
.list-service{
	width:1200px;
	height:54px;
	margin:0 auto;
	margin-top:49px;
	overflow:hidden;
}
.list-service li{
 float:left;
 width:342px;
 height:54px;	
}
.list-service li b{
	font-weight:600;
	font-size:16px;
	color:#333333;
}
.list-service li p{
	color:#333333;
	margin:5px 0;
}
.list-service .bg1{
	background:url(img/baozhengBg.jpg) no-repeat;
}
.list-service .bg2{
	background:url(img/globalBg.jpg) no-repeat;
}
.list-service .bg3{
	background:url(img/pinpaiBg.jpg) no-repeat;
}
.list-service li div{
	margin-left:60px;
	margin-top:5px;
	}
.list-service li.bg4{
	width:174px;
	background:url(img/baozhangBg.jpg) no-repeat;	
}

/*---------------------------goodslist---------------------------*/
.newProduct{
	width:1180px;
	height:36px;
	line-height:36px;
	margin:0 auto;
	background:url(img/listBg.jpg) no-repeat left 0;
	border-bottom:1px solid #dddddd;
	font-size:22px;
	color:#222222;
	padding-left:20px;
	position:relative;
}
.newProductList{
	width:1200px;
	margin:0 auto;
	height:620px;
	overflow:hidden;	
}
.newProductList img{
	width:232px;
	height:232px;
}
.goodslist1{
	width:1200px;
	height:620px;
	float:left;
}
.subGoodsList1 > li{
	float:left;
	width:232px;
	height:300px;
	margin-right:10px;
}
.subGoodsList1 .noMargin{
	margin-right:0
}

























